<app-content-fill>
  <h2>介绍</h2>
  这份Angular教程的核心使命是<strong>提高学习的命中率</strong>. 何为命中率? 你看了一个知识点, 刚好项目也需要这个知识点, 则为命中. 作为Angular初学者, 打开Angular官网, 一堆新名词,
  如果没有MVVM框架使用经验的话, 确实是比较难入门. 为了提高命中率, 本文档涉及的知识点遵循以下原则.
  <ul>
    <li>高频常用的, 必讲</li>
    <li>可知可不知的, 不讲</li>
    <li>偶尔用到的, 少讲</li>
  </ul>
  <div class="info">
    Angular官网其实做的也非常不错. 但是我始终认为它不适合初学者学习, 它更像一本字典, 你需要用到什么API再去查询.
  </div>
  <h2>番外</h2>
  事实上, 该项目创建于2018年(如果有我的老粉的话, 肯定记得那个夏天), 当时文档的名字叫<span class="key-word">ng-series-study</span>. 当初大概是用了1年的Angular之后写下的这篇文档, 对Angular的官方文档(v7版本)做了翻版, 几乎把所有的我知道的API都用我自己的话又写了一遍.
  当初文档的使命是<strong>让人更容易入门</strong>. 这与今天我给予这份教程的使命"<strong>提高学习的命中率</strong>"不同. 如何理解呢? 比如说以下内容
  <ul>
    <li>初始化项目后的文件结构如何理解</li>
    <li>AngularJS与Angular有什么区别?</li>
    <li>Angular2之后就是Angular4, V3的版本去哪了?</li>
    <li>......</li>
  </ul>
  以上内容在新的使命定义中, 是绝对不可能去讲的. 为什么呢? 很简单, 因为知道这些内容, 你需要花费一些精力, 但是对你写业务几乎毫无帮助, 也就是命中率极低. 你作为新人, 需要知道的是如何快速上手业务进行开发. 你迟迟无法上手业务, 你的心理压力肯定也是非常大的.
  <div class="info">
    2017年我在一家小公司(前端就我一个)实习的时候我接触的Angular, 没人带, 当时国内真的没什么资料, 我都是看的国外英文原版资料边做边学的, 每天的压力真的超级大(┬＿┬). 时刻担心hold不住业务.
    屡次产生想要离职的想法, 只想逃避. 虽然最后硬扛下来, 完成了业务. 但是我很清楚那种滋味, 这也是这份文档被创作出来的原始动机: 我想帮助到那些我本可以帮到的人.
  </div>
  在业务上, 我无法帮你快手上手, 但在框架上, 我有信心让你快速get. 现在你明白我为什么给予它的新使命是<strong>提高学习的命中率</strong>了吧? 因为我知道你此刻最需要的是什么.
  <div class="warning">
    该份教程于2021年03月开始制作重制版, 对项目结构、版本、UI、描述内容、知识点增删等均会涉及. 翻版的原始动机是为了快速提升轻流入职新人的框架上手速度. 因为重制版工作量较大, 一时半会无法完成全部内容的更新, 所以会看到个别样式混乱的页面(不影响阅读). 不过无关紧要, 已有内容, 99%都是没问题的, 无非是描述准确度与命中率的问题.
  </div>
  <!-- 如果这份文档帮助到了你, 麻烦给我的
  <a href="https://github.com/Eve-Sama/ng-series-study" target="view_window">github仓库</a>一颗小星星(仓库右上角的star). -->
  <!-- </div> -->
</app-content-fill>