<ng-template #title>
    <span>Angular水平测验 - <span [ngSwitch]="level">
            <span *ngSwitchCase="1">入门</span>
            <span *ngSwitchCase="2">中级</span>
            <span *ngSwitchCase="3">高级</span>
        </span>难度</span>
</ng-template>
<ng-template #content>
    <div *ngIf="start" class="tip">
        准备好了吗?测试即将开始!
    </div>
    <div *ngIf="finish" class="tip">
        <p>已完成该部分试题,请挑战其他难度试题!</p>
        <p>待完成所有试题后可查看[成绩报告单].</p>
    </div>
    <ng-container *ngFor="let item of questions;let index = index;">
        <ng-container *ngIf="index == currentIndex && !start">
            <h2>({{index+1}}/{{questions.length}}){{item.question}}</h2>
            <nz-radio-group class="options" [(ngModel)]="options">
                <label nz-radio [nzValue]="'A'" (click)="next(item.answer)" [nzDisabled]="disabled">
                    <span>{{item.optionA}}</span>
                </label>
                <br>
                <label nz-radio [nzValue]="'B'" (click)="next(item.answer)" [nzDisabled]="disabled">
                    <span>{{item.optionB}}</span>
                </label>
                <br>
                <label nz-radio [nzValue]="'C'" (click)="next(item.answer)" [nzDisabled]="disabled">
                    <span>{{item.optionC}}</span>
                </label>
                <br>
                <label nz-radio [nzValue]="'D'" (click)="next(item.answer)" [nzDisabled]="disabled">
                    <span>{{item.optionD}}</span>
                </label>
            </nz-radio-group>
        </ng-container>
    </ng-container>
</ng-template>
<ng-template #footer>
    <ng-template [ngIf]="start">
        <button nz-button nzType="primary" nzBlock (click)="startExam()">开始</button>
    </ng-template>
    <ng-template [ngIf]="!start">
        <div nz-row>
            <div nz-col [nzSpan]="16">
                <nz-progress [nzPercent]="progress"></nz-progress>
            </div>
            <div nz-col [nzSpan]="4">
                <button nz-button [nzType]="'primary'" (click)="preQuestion()" [disabled]="currentIndex == 0||currentIndex == questions.length">
                    上一题
                </button>
            </div>
            <div nz-col [nzSpan]="4">
                <button nz-button [nzType]="'primary'" (click)="nextQuestion()" [disabled]="nextDisabled || maxCurrentIndex == 0">
                    下一题
                </button>
            </div>
        </div>
    </ng-template>
</ng-template>